@import url(styles/header.css);

:root {
    --cor-de-fundo: #77dabc;
    --branco: #abffdf;
    --verde:#dd83a1;
    --verdeagua:#000000;
}

body{
    background-color: var(--cor-de-fundo);
}

